{% extends "admm/admm_base.html" %} {% block admm_content %}
<script src="{{url_for('static', filename='basic.js')}}"></script>
<h5>Upload two CSV files.</h5>

<form
  method="POST"
  enctype="multipart/form-data"
  action="{{ url_for('upload_file') }}"
>
  <ul>
    <li>Matrix A (mxn)</li>
    <input type="file" name="matrix_A" />
    <li>Vector b (nx1)</li>
    <input type="file" name="matrix_b" />
  </ul>
  <p style="color: red">{{ message }}</p>
  <input type="submit" value="Try Our Implementation" />
</form>
{% endblock %}
