<!DOCTYPE html>
<html>
  <head>
    <title>ADMM Implemntation</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='assets/css/main.css')}}"
    />
    <style type="text/css">
      select {
        width: 200px;
      }
      table {
        table-layout: auto;
      }
      input[type="number"] {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
      }
      td {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="{{ url_for('home') }}" class="logo"
              ><strong>Matrix</strong> Calculator</a
            >
          </header>
          <br />
          <div>
            <h2>ADMM Implemntation</h2>
            <p>Select suitable option and enter the numbers into the matrix.</p>
          </div>
          <!-- Section -->
          <div>{% block basic_content %} {% endblock %}</div>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="{{ url_for('home') }}">Homepage</a></li>
              <li><a href="{{ url_for('basic') }}">Basic Calculations</a></li>
              <li>
                <a href="{{ url_for('advanced') }}">Advanced Calculations</a>
              </li>
              <li><a href="{{ url_for('admm') }}">ADMM Implementation</a></li>
              <li><a href="{{ url_for('about') }}">Meet The Team</a></li>
            </ul>
          </nav>
          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">
              This WebApp is developed by S4 Students for their Mathematics for Intelligent Systems - 4 Group Project. 
              Code available on <a href="https://github.com/codevardhan/math-app">GitHub</a>.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
  </body>
</html>
