<!DOCTYPE HTML>
<html>
	<head>
		<title>Results</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/404.css')}}" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
                        <section align="center"class="page_404">
                            <div class="container">
                                <div class="row">	
                                <div class="col-sm-12 ">
                                <div class="col-sm-10 col-sm-offset-1  text-center">
                                <div class="four_zero_four_bg">
                                    <h1 class="text-center ">404</h1>
                                </div>
                                
                                <div class="contant_box_404">
                                <h3 class="h2">
                                Look like you're lost
                                </h3>
                                
                                <p>the page you are looking for not available!</p>
                                
                                <a href="{{ url_for('home') }}" class="link_404">Go to Home</a>
                            </div>
                                </div>
                                </div>
                                </div>
                            </div>
                        </section>
					</div>
			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>




