{% extends "basic/basic_base.html" %}
{% block basic_content %}
    <script src="{{url_for('static', filename='basic.js')}}"></script>
    <form method="POST" action="{{ url_for('result') }}">
        <select id="operations" name="operations" onchange="sizeSelect()">
            <option value="none" selected disabled hidden>Select Operation</option>
            <option value="Add">Addition</option>
            <option value="Sub">Subtraction</option>
            <option value="Mult">Elementwise Multiplication</option>
            <option value="MatMult">Matrix Multiplication</option>
            <option value="Norm">Normalization</option>
            <option value="Trans">Transpose</option>
            <option value="Inv">Inverse</option>
            <option value="Col">Column space</option>
            <option value="Row">Row space</option>
            <option value="Orthogor">Orthogonalization (Gram Schmidt)</option>
            <option value="Orthonor">Orthonormalization (Gram Schmidt)</option>
        </select>
        <br>
        <div id="arr_size_select">
            
        </div>
        <br>
        <input type="button" value="Create Input Table(s)" onclick=create_input()></input><br><br>
        <div id="tables">
        </div>
        <input type = "submit" value = "Calculate!" />   
    </form>
{% endblock %}