{% extends "basic/basic_base.html" %}
{% block basic_content %}
    <script src="{{url_for('static', filename='basic.js')}}"></script>
    <form method="POST" action="{{ url_for('result') }}">
        <select id="operations" name="operations" onchange="sizeSelect()">
            <option value="none" selected disabled hidden>Select Operation</option>
            <option value="ADD">Addition</option>
            <option value="SUB">Subtraction</option>
            <option value="ELEMMULT">Elementwise Multiplication</option>
            <option value="MATMULT">Matrix Multiplication</option>
            <option value="NORM">Normalization</option>
            <option value="TRANS">Transpose</option>
            <option value="INV">Inverse</option>
            <option value="COLSP">Column space</option>
            <option value="ROWSP">Row space</option>
            <option value="GRAMORTHONOR">Orthonormalization (Gram Schmidt)</option>
        </select>
        <br>
        <div id="arr_size_select">
            
        </div>
        <br>
        <input type="button" value="Create Input Table(s)" onclick=create_input()></input><br><br>
        <div id="tables">
        </div>
        <input type = "submit" value = "Calculate!" />   
    </form>
{% endblock %}