{% extends "advanced/advanced_base.html" %}
{% block advanced_content %}
    <script src="{{url_for('static', filename='advanced.js')}}"></script>
    <form method="POST" action="{{ url_for('result') }}">
        <select id="operations" name="operations" onchange="sizeSelect()">
            <option value="none" selected disabled hidden>Select Operation</option>
            <option value="DFT">Fourier matrix and DFT</option>
            <option value="KRO">The Kroncker product</option>
            <option value="LAPL">Graph Laplacian Matrix</option>
            <option value="SVD">SVD</option>
            <option value="DMAT">Distance Matrix</option>
            <option value="KCL">Kmeans Clustering</option>
            <option value="SHER">Sherman Morisson -X</option>
            <option value="KALM">Kalmann filter</option>
        </select>
        <br>
        <p id="desc">

        </p>
        <div id="arr_size_select">
            
        </div>
        <br>
        
        <input type="button" value="Create Input Table(s)" onclick=create_input()></input><br><br>
        <div id="tables">
        </div>

        <div id="other_options">

        </div>
        <br>
        <input type = "submit" value = "Calculate!" />   
    </form>
{% endblock %}