{% extends "advanced/advanced_base.html" %}
{% block advanced_content %}
    <script src="{{url_for('static', filename='input.js')}}"></script>
    <form method="POST" action="{{ url_for('result') }}">
        <select id="operations" name="operations">
            <option value="">Select Operation</option>
            <option value="Add">Addition</option>
            <option value="Sub">Subtraction</option>
            <option value="Mult">Elementwise Multiplication</option>
            <option value="MatMult">Matrix Multiplication</option>
            <option value="Norm">Normalization</option>
            <option value="Trans">Transpose</option>
            <option value="Inv">Inverse</option>
            <option value="Col">Column space</option>
            <option value="Row">Row space</option>
            <option value="Orthogor">Orthogonalization (Gram Schmidt)</option>
            <option value="Orthonor">Orthonormalization (Gram Schmidt)</option>
        </select>
        <br>
        <select id="arr_size" name="arr_size">
            <option value="">Select Matrix Size</option>
            <option value="2">2 x 2</option>
            <option value="3">3 x 3</option>
            <option value="4">4 x 4</option>
            <option value="5">5 x 5</option>
            <option value="6">6 x 6</option>
            <option value="7">7 x 7</option>
            <option value="8">8 x 8</option>
            <option value="9">9 x 9</option>
            <option value="10">10 x 10</option>
        </select>
        <br>
        <input type="button" value="Create Input Table" onclick=create_input()></input><br><br>
        <div id="tables">
        </div>
        <input type = "submit" value = "Calculate!" />
    </form>
{% endblock %}